<div class="container mt-2">
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col" *ngFor="let item of superHeroes">
		  <div class="card">
			<img src="{{item.imageURL}}" class="card-img-top" alt="..." height="250">
			<div class="card-body">
			  <h5 class="card-title">{{item.name}}</h5>
			  <p class="card-text"> <b>Franchise: </b> {{item.franchise}}</p>
			  <p class="card-text">
				<b>Powers: </b>{{item.powers}}
			  </p>
			</div>
			<div class="card-body">
				<a class="btn btn-primary" [routerLink]="['edit-super-hero', item._id]">Edit</a>
			</div>
		  </div>
		</div>
	</div>
</div>